.chat-section h3 {
    font-size: 18px;
    padding-top: 30px !important;
    padding: 10px 70px;
    margin: 0;
}
.chat-containers {
    display: flex;
    height: 80vh;
}

.users {
    position: relative;
    flex: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    margin: 0 30px;
    box-shadow: 3px 5px 10px rgba(0,0,0, .3);
}
.users h1 {
    font-size: 18px;
    padding: 8px 10px 13px 10px;
}
.users .search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.search-bar input {
    width: 100%;
    outline: none;
    padding: 5px 0px 5px 15px ;
    border: 1px solid #ccc;
    border-right: 0;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-bar button {
    background-color: #2CD889;
    padding: 7px 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.search-bar button span {padding-top: 6px}
.grps-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.grps {
    font-size: 10px;
    padding-top: 5px;
}
.grp {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.grp:hover {
    color: black;
}
.grp-img {flex: 1}
.grp-img span {
    font-size: 50px;
    padding-left: 10px;
}
.grp .grp-title {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grp .grp-title h2 {
    font-size: 15px;
    font-weight: 500;
}
.grp .grp-title p {
    font-size: 12px;
    color: #A6B1C2;
}
.grp .grp-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.grp .grp-desc p {
    font-size: 10px;
    color: #E1E3F4;
}
.grp .grp-desc .color {
    font-size: 12px;
    margin-top: 5px;
    color: #2CD889;
}
.chats {
    padding-top: 15px;
}
.chat-container p {
    color: #A6B1C2;
    margin-top: 30px;
    text-align: center;
}
.create-grp {
    position: absolute;
    bottom: 15px;
    right: 25px;
}
.create-grp button {
    background-color: #2CD889;
    color: white;
    padding: 10px 13px;
    border-radius: 50px;
}
.create-grp button:hover {
    color: white;
}


.chat-container {
    flex: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 7px 10px rgba(0,0,0, .3);
    border-radius: 10px;
    margin-right: 30px;
}
.chat-container .chat-header {
    border-bottom: 1px solid #A6B1C2;
}
.chat-messages {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message {
    display: flex;
    align-items: center;
}
.message-text {
    display: block;
    float: right;
    background-color: rgba(44, 216, 137, .1);
    padding: 10px;
    margin: 15px;
    margin-right: 5px;
    border-radius: 5px;
}
.message p {
    color: black;
    margin: 0;
    text-align: start;
}
.message .createdAt {
    text-align: end;
    color: #A6B1C2;
    font-size: 10px;
}
.message .message-icon span {
    font-size: 35px;
    margin: 5px;
}
.chat-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.chat-container form .form-check {
    display: flex;
}
.chat-container form .form-check button {
    background-color: #2CD889;
    color: white;
}
