.list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 0 6px rgba(0,0,0, .3);
    margin: 20px;
}
table {
    width: 100%;
}
table .list {
    box-shadow: none;
}
table .list:hover {
    background-color: rgba(44, 216, 137, .1);
}
table th, table td {
    border-bottom: 1px solid #E1E3F4;
    padding: 13px 0;
}
table td {
    color: #35384D;
}
.dropdown-btn {
    background-color: transparent;
    border: none;
}
table .dropdown-btn:after {
    display: none;
}
.dropdown-btn:hover {
    border: 0;
    background-color: transparent;
}
table .dropdown-item {
    display: flex;
    padding: 5px 20px;
}
.dropdown-item span {
    padding-right: 5px;
}
table .dropdown-edit {
    border-top: 1px solid #ccc;
    color: blue;
}
table .dropdown-add-staff {color: #2CD889}
table .dropdown-edit:hover {color: blue;}
table .dropdown-del {color: red;}
table .dropdown-del:hover {color: red;}

.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    background: transparent;
    border: none;
}
.btn-check:focus+.btn-success, .btn-success:focus {
    background: transparent;
    border: none;
    box-shadow: none;
}
.btn-check:active+.btn-success:focus, .btn-check:checked+.btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}
