.create-clinic-section {
    margin: 40px;
}
.create-clinic-section h3 {
    font-size: 18px;
    padding: 0 0 5px 25px;
}
.create-clinic {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 0 6px rgba(0,0,0, .3);
}
.create-clinic-section form h1 {
    font-size: 25px;
}
.create-clinic-section form h2 {
    font-size: 25px;
    margin: 25px 0;
}
.form-checks {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.form-check {
    width: 100%;
    margin: 0;
    padding: 0;
}
.form-check label {
    font-size: 14px;
    margin-bottom: 4px;
}
.form-check input {
    padding: 15px;
}
.form-check input:focus {
    border-color: #2CD889;
}
.create-clinic-section .submit-btn {text-align: end}
.create-clinic-section .submit-btn button {
    background-color: #2CD889;
    padding: 10px 70px;
    color: white;
    margin-top: 20px;
}
.different-form-check{
    display: flex;
    padding: 0;
}
.different-input {
    border: 0;
    outline: none;
    width: 100%;
}
.different-form-check button {
    width: 20%;
    color: #2CD889;
    background-color: rgba(44, 216, 137, .1);
    margin: 8px 6px;
}
.different-form-check button:hover {
    color: #2CD889;
}
.form-select {
    padding: 15px;
}
