.del-organization {
    padding: 23px;
    border-radius: 20px;
}
.del-organization h1 {
    font-size: 25px;
    font-weight: bold;
}
.del-organization .del-organization-btns {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}
.del-organization button {
    padding: 10px 32px;
    border: 1px solid #35384D;
}
.del-organization button.confrim {
    background-color: #2CD889;
    border: none;
    color: white;
    padding: 11px 33px;
}
