header {
    width: 100%;
    height: 80px;
    background-color: #2CD889;
    padding: 0 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    color: white;
    font-weight: bold;
    font-size: 25px;
}
header .dropdown-btn {
    display: flex;
    align-items: center;
}
header .dropdown-item {
    display: flex;
}
heaer .dropdown-btn .material-icons {
    font-size: 50px !important;
}
header .dropdown-btn span {
    font-size: 50px;
}
header .dropdown-btn p {
    margin: 0;
    padding: 0 5px;
}
