.login-page {
    display: flex;
}
.login-page .image-side {
    width: 50%;
    height: 100vh;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page .login-side {
    width: 50%;
    height: 100vh;
    background-color: #2CD889;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-side .login {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}
.login .logo {
    text-align: center;
    padding: 40px;
}
.login .logo p {
    color: #A6B1C2;
}
.login-side button {
    width: 100%;
    background-color: #2CD889;
    color: white;
    padding: 10px 0;
    margin: 30px 0 35px;
}
.login-side button:hover {
    color: white;
}
.login .form-control-password {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login .form-control-password input{
    outline: none;
    border: 0;
    width: 100%;
}
.login .form-control-password img {
    padding-right: 10px;
}
.login .form-control-password input:focus .form-control-password {
    border-color: #2CD889 !important;
}
