* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: sans-serif;
    background-color: #fbfdff;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #FBFDFF;
}
.main-content {
    width: 100%;
    overflow: auto;
}
/*SOME OF COMMON CLASSES*/
.same-color {
    color: #2CD889;
}
.error {
    color: red;
    font-size: 12px;
}
.not-added {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d0d0d0;
    text-decoration: line-through;
    font-size: 40px;
}
