.new-organization {
    padding: 30px;
    position: relative;
}
.new-organization .remove-modal {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.new-organization h1 {
    font-size: 30px;
}
.new-organization input {
    padding: 10px 8px;
}
.new-organization textarea {
    height: 130px;
}
.new-organization .submit-btn {
    text-align: end;
}
.new-organization .submit-btn button {
    background-color: #2CD889;
    color: white;
    padding: 10px 40px;
    margin-top: 15px;
}
