.not-found {
    width: 100%;
    height: 100vh;
    background-color: #EFF1F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-found p {
    padding: 50px 0;
}
.not-found button {
    color: white;
    background-color: #35384D;
    padding: 10px 60px;
    border-radius: 5px;
}
.not-found button:hover {
    color: white;
}
