.organization-btn {
    text-align: end;
}
.organization-btn button {
    font-weight: bold;
    background-color: #2CD889;
    color: white;
    border-radius: 4px;
    padding: 10px 40px;
    margin: 15px;
}
.organization-btn button:hover {
    color: white;
}
