.sidenav {
    width: 300px;
    height: 100vh;
    background-color: white;
}
.sidenav .logo {
    text-align: center;
    margin-top: 35px;
}
.sidenav .nav-btns {
    text-align: center;
}
.sidenav .nav-btns button {
    background-color: #35384D;
    color: white;
    margin: 35px 0;
    padding: 12px 45px;
}
.sidenav .nav-btns button img {
    padding-right: 10px;
}
.sidenav .nav-links {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.sidenav .nav-links li {
    list-style: none;
    font-size: 20px;
}
.sidenav .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #A6B1C2;
    padding: 20px 0;
    width: 100%;
    border-left: 5px solid #ffff;
}
.sidenav .nav-links .active {
    border-color :#2CD889;
    background-color: #E9FBF3;
}
.sidenav .nav-links li span {
    padding: 0 12px 0 25px;
}
.sidenav .nav-links .active span {
    color: #2CD889;
}
