.subscription-modal {
    padding: 30px 20px;
    background-color: rgba(37, 216, 137, .1);
    border-radius: 20px;
}
.subscription-modal p {
    padding: 5px 0;
}
.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan h1 {
    font-size: 35px;
    font-weight: bold;
}
.plan h2 {
    font-size: 50px;
    color: #2CD889;
}
.plan h2 span {
    font-size: 35px;
    color: black;
}

.subscription-modal button {
    width: 100%;
    background-color: #2CD889;
    color: white;
    padding: 10px;
}
.subscription-modal button:hover {
    color: white;
}
